<div class=container>
  <h2>All Movielists</h2>
    <ul class="list-group">
      <% @lists.each do |list| %>
        <li class="list-group-item">
        <% if list.photo.attached? %>
        <%=  cl_image_tag(list.photo.key, height: 150, width: 150, crop: :fill)  %>
        <% end %></li>
        <li><%= link_to list.name, list_path(list)%></li>
      <% end %>
    </ul>

    <div class=container>
      <%= link_to "Add new List", new_list_path(@list) %>
    </div>

</div>
