<div class=container>
  <h2>New Bookmark</h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Add Movie to List", class: "btn btn-primary"%>
    <% end%>
</div>
